@import url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/variable/pretendardvariable-dynamic-subset.css');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-blue-50: #f1f6f9;
  --color-blue-100: #cde6ee;
  --color-blue-200: #99c4dd;
  --color-blue-300: #67a7cd;
  --color-blue-400: #3489bc;
  --color-blue-500: #016cab;
  --color-blue-600: #015689;
  --color-blue-700: #014167;
  --color-blue-800: #002b44;
  --color-blue-900: #001622;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
